<div class="label-container">
    <label class="label" for="email">Email Address</label>
    <div class="label-content">
      <input class="input" name="email" id="email" type="email" placeholder="email@company.com">
    </div>
  </div>

  <div class="label-container">
    <label class="label" for="email">Email Address</label>
    <div class="label-content">
      <input class="input input-error" name="email" id="email" type="email" placeholder="email@company.com">
    </div>
    <span class="label-error">Valid email required</span>
  </div>